body{ background: url("img/body_bg.png") repeat;}
h1{
    font-family: Arial,"楷体";
}
.fa.fa-arrow-circle-right{
    margin-right: 15px;
}
 
/*navbar bgcolor -- float*/
.navbar .navbar-inner{ 
  background-color: #00a9a9;
  }

.navbar .nav {  
  float: right; }



/*page container -- card style -- */
.nav-narrow{  
  margin: 0 auto;
  max-width: 85%;}



.card { 
  max-width: 100%;
  background:#065059; 
  }

.container-narrow > hr { 
  margin: 30px 0; }

.read_more {
  padding: 10px 20px;

  background-color: #3F3F3F;
}


/* posts index */

.post > h3.title { 
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {  
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more { 
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date { 
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box { 
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li { 
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgb(222,106,115);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
                 }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }



.hat_title{
/*    margin: 50px 0 20px 0;*/
    padding: 30px 0 40px 0;
/*    background-color: rgb(229, 229, 229);*/
/*    color: rgb(0,173,207);*/
    font-size: 58px;
    font-weight: 100;
    font-family: "楷体";
}
.post_list{
    margin-left: 60px;
}
.page.card{
    background:url("img/card_bg.jpg") repeat top center;
}
.textarea-wrapper{
	background: none repeat scroll 0% 0% rgba(17, 90, 82, 0.65) !important;
	border-radius: 0px !important;
}
.body.dark .nav > ul > li.active > a, body.dark .nav > ul > li.active > a:hover {
	color: rgb(75, 57, 57) !important;
}

.body.dark .nav > ul > li > div > a {
    color: #35AB82 !important;
	text-shadow: none;
}

.body.dark #footer ul li a {
   color: rgba(198, 95, 95, 0.5) !important;
}

.body.dark h6 {
    color: rgba(36, 9, 89, 0.6) !important;
}

.input-wrapper input {
    background: none repeat scroll 0% 0% #8CAE2F !important;
}

.body.dark .acceptance-wrapper, body.dark .postbox section label {
    color: rgba(22, 17, 29, 0.6) !important;
}

.dark .discovery-col-header h2 strong {
    color: #7FB961;
}

.dark .doublethumbnails .discovery-post .inline-meta {
    font-size: 12px;
    font-weight: 500;
    color: rgba(44, 38, 38, 0.8);
}

.dark .discovery-options .discovery-help {
    color: rgba(116, 30, 30, 0.5) !important;
    background: none repeat scroll 0% 0% rgba(96, 91, 91, 0.3);
}
